$color-text: #fafafa;
$color-red: #ff4d5a;
$color-background: rgb(26, 26, 26);
$color-background-light: rgb(40, 40, 40);
$color-blue: rgb(81, 162, 233);
$color-blue-dark: rgb(50, 22, 187);

.main-bg {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;

  background-color: royalblue;

  // z-index: 999;
}
